APP_NOMBRE=CotizaPro
APP_URL=http://localhost:8000
APP_DEBUG=true
APP_ZONA_HORARIA=America/Bogota

DB_HOST=localhost
DB_PUERTO=3306
DB_NOMBRE=cotiza_saas
DB_USUARIO=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_SOCKET=

SESION_NOMBRE=cotiza_sesion
SESION_TIEMPO=120

SMTP_HOST=mailhog
SMTP_PUERTO=1025
SMTP_USUARIO=
SMTP_PASSWORD=
SMTP_REMITE=notificaciones@cotizapro.local
SMTP_NOMBRE=CotizaPro
